<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="header">
      <h2>Example Blog</h2>
    </div>
    <div class="blog">
      <div class="row posts-list">
        <div class="leftcolumn">
          <div class="card">
            <h1>{{post.title}}</h1>
            <h5>{{post.created_at}}</h5>
            <p>{{post.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
